*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'neuton';
    background-image: url(bg.avif);
    background-size: cover;
}


header{
    background-color: rgb(207, 2, 222);
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 40px #860098;
}

.main {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8%;
}

.card {
  backdrop-filter: blur(15px);
  background: rgb(158, 2, 163);
  color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 30px #860098;
}

h2, h3, h4 {
  text-align: center;
}

#value{
    width: 94%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;

}

select, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.row {
  display: flex;
  gap: 30px;
  text-align: center;
  padding-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#size{
    width: 100%;
}

button {
  font-weight: bold;
  cursor: pointer;
}

button.outline {
  background: transparent;
  border: 2px solid #00e5ff;
  color: #00e5ff;
}

#qrBox {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
